.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  gap: 1em;
  background-color: rgb(39, 39, 39);
  justify-content: center;
  align-items: center;
  line-height: 2em;
  margin-top: 2em;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  color: white;
  font-weight: 600;
}
.footer a:hover {
  text-decoration: underline;
}
.contact {
  display: none !important;
}

@media only screen and (max-width: 400px) {
  .footer a {
    font-weight: 800;
    padding: 0.4em 1em;
    border-radius: 12px;
    opacity: 100%;
    background-color: #4895ef20;
    color: #4895ef;
    border: 1px solid #4895ef;
  }
  .footer a:hover {
    text-decoration: none;
  }
  .contact {
    display: flex !important;
  }
}
